@import './variables';
@import './mixins';

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

@include mobile {
    .container {
        width: auto;
    }
}
